<h1>Poke Catalog</h1>
<div class="row">

  <div *ngFor="let pokemon of pokemonList" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-rounded" src="{{ pokemon.url | externalImageURL }}" alt="{{ pokemon.name }}">

      <div class="caption">
        <h3>{{ pokemon.name }}</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
          metus.
          Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p>
          <a href="#" class="btn btn-primary" role="button">See more details</a>
          <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
        </p>
      </div>
    </div>
  </div>

</div>
